<!doctype html>
<html>
  <head>
    <title> <%= title %></title>
    <link rel='stylesheet' href='/stylesheets/uikit.css'/>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link href='http://fonts.googleapis.com/css?family=Roboto|Lobster&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src='/javascripts/uikit.min.js'></script>
    <script type="text/javascript" src='/javascripts/form-password.min.js'></script>
  </head>
  <body>
    <nav class="uk-navbar uk-navbar-attached">
      <div class="uk-container uk-container-center">
          <a class="uk-navbar-brand" id="title" href="/">Чай Фай</a>
          <div class="uk-navbar-flip">
            <ul class="uk-navbar-nav">
              <% if (user && user.admin) { %>
              <li><%- link_to('график посещений', '/logs') %></li>
              <li><%- link_to('пользователи', '/users') %></li>
              <% } %>
            </ul>
          <div class="uk-navbar-content">
          <% if (user) {%>
            <% if (user.avatar) { %>
            <div class="avatar">
              <%- img_tag(user.avatar) %>
            </div>
            <% } %>
            <div class="account">
            <%- link_to(user.name, '/users/' + user._id) %>
            </div>
            <a  href='/auth/logout'>Выйти</a>
          <% } else { %>
            <span>логин:&nbsp;</span><a class="uk-icon uk-icon-large uk-icon-vk" title="ВКонтакте" href="/auth/vk"></a>
            <a class="uk-icon uk-icon-large uk-icon-foursquare" title="Foursquare" href="/auth/fs"></a>
          <% } %>
        </div>
       </div>
      </div>
    </nav>
    <div class="uk-container uk-container-center container"> 
      <%- body %>
    </div>
    <div class="footer">
    </div>
  </body>
</html>
