<!doctype html>
<html>
  <head>
    <title> <%= title %></title>
    <link rel='stylesheet' href='/javascripts/uikit.min.js'/>
    <link rel='stylesheet' href='/javascripts/form-password.min.js'/>
    <link rel='stylesheet' href='/stylesheets/uikit.css'/>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link href='http://fonts.googleapis.com/css?family=Roboto|Lobster&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <nav class="uk-navbar uk-navbar-attached">
      <div class="uk-container uk-container-center">
          <a class="uk-navbar-brand" id="title" href="/">Чай Фай</a>
          <div class="uk-navbar-flip">
            <ul class="uk-navbar-nav">
              <li><a  href='/auth/logout'>ТОП-30</a></li>
              <li><a  href='/auth/logout'>Админ</a></li>
              <% if (user.admin) { %><li><%- link_to('пользователи', '/users') %></li><% } %>
            </ul>
          </div>
          <div class="uk-navbar-content uk-navbar-flip">
          <% if (user) {%>
            <% if (user.avatar) { %>
            <div class="avatar">
              <%- img_tag(user.avatar) %>
            </div>
            <% } %>
            <div class="account">
            <%- link_to(user.name, '/users/' + user._id) %>
            </div>
            <a  href='/auth/logout'>выйти</a>
          <% } else { %>
            <span>логин:&nbsp;</span><a class="uk-icon uk-icon-large uk-icon-vk" title="ВКонтакте" href="/auth/vk"></a>
            <a class="uk-icon uk-icon-large uk-icon-foursquare" title="Foursquare" href="/auth/fs"></a>
          <% } %>
        </div>
        </div>
      </div>
    </nav>
    <div class="uk-container uk-container-center" style="margin-top: 15px">
      <%- body %>
    </div>

  </body>
</html>
